.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);
    background-color: black;
    transition: all .4s linear;
}

.scroll-to-top:hover {
    transform: scale(1.1);
    
}
.scroll-to-top > span {
    display: block;
    width: 5px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    margin: 0 auto;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
.scroll-to-top > span::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    width: 5px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    transform: rotate(-45deg);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.scroll-to-top > span::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 5px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    transform: rotate(45deg);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
@media (max-width: 767px) {
    .scroll-to-top {
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.8);
        background-color: #fff;
        bottom: 20px;
        right: 20px;
    }
    .scroll-to-top > span,
    .scroll-to-top > span::after,
    .scroll-to-top > span::before {
        background-color: black;
    }
    
}