.blog-list {
    padding: 40px 0px;
}
.item-img {
    margin: 0px 0px 30px 0px;
}
.item-img > img {
    width: 100%;
}
.item-name > h3 {
    font-size: 16px;
    font-weight: 700;
}
.item-name > i {
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    font-style: italic;
}
.item-set {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    padding: 15px 0px;
    margin: 15px 0px;
    
}
.comm, .search, .categ {
    display: flex;
    align-items: center;
}
.item-set-img {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}
.item-text {
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.item-btn {
    border-left: 2px solid black;
    border-top: 1px solid black;
    border-right: none;
    border-bottom: none;
    font-size: 13px;
    width: 135px;
    height: 40px;
    background-color: transparent;
    color: black;
    transition: all .4s linear;
}
.item-btn:hover {
    border-left: none;
    border-top: none;
    border-right: 2px solid white;
    border-bottom: 1px solid white;
    background-color: black;
    color: white;
}
.item-btn:focus {
    outline: none;
}
.blog-item {
    padding: 25px;
    margin-top: 50px;
    transition: all .3s linear;
}
.blog-item:hover {
    background-color: #464646;
    color: white;
}
.blog-list::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: black;
}

.pages-btn {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-style: italic;
    margin: 3px;
    background-color: #fff;
    transition: all .3s linear;
}
.pages-btn:hover {
    background-color: black;
    color: #fff;
}
.pages {
    display: flex;
    width: 100%;
    margin: 50px auto;
    justify-content: center;
}